  /* RESET */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Delius Swash Caps", cursive;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(assets/pinkbackground.jpg);
}


/* HEADER */
header {
    background-color: rgb(255, 181, 206);
    padding: 10px 20px;
    position: relative;
    text-align: center;
}


.site-logo {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}


h1 {
    margin: 0;
    color: rgb(254, 255, 176);
    text-shadow: 0 0 10px rgb(255, 252, 89);
}


.nav-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}


.nav-bar a {
    text-decoration: none;
    color: white;
    background: rgb(255, 171, 183);
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgba(233, 89, 111, 0.4);
}


.nav-bar a:hover {
    background-color: rgb(196, 239, 179);
    color: black;
}

footer {
    padding: 15px 0;
    font-size: 17pt;
    color: black;
    background-color: rgb(255, 181, 206);
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}
h1 {
    font-family: cursive;           
    color: rgb(254, 255, 176);                   
    text-align: center;             
    text-shadow: 0 0 10px rgb(255, 252, 89); 
}

h3 {
    color:rgb(29, 29, 29);
    font-size: 20px;
    text-align: center;
    
}

.site-logo {
    width: 80px;          
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}


.about-container {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    font-family: "Delius Swash Caps", cursive;
    position: relative;
}


.sources-title {
    text-align: center;
    font-size: 120px;
    color: rgb(255, 200, 230);
    text-shadow: 0px 0px 15px pink;
    font-family: "Emilys Candy", cursive;
    margin-bottom: 40px;
}


.cloud {
    width: 380px;
    padding: 40px;
    border-radius: 40px;
    margin-bottom: 40px;
    background-size: cover;
    font-size: 18px;
    line-height: 1.6;
}


.cloud-blue {
    background: url("assets/blue-cloud.png") no-repeat center/contain;
}

.cloud-lightblue {
    background: url("assets/lightblue-cloud.png") no-repeat center/contain;
}

.cloud-pink {
    background: url("assets/pink-cloud.png") no-repeat center/contain;
}

.cloud-yellow {
    background: url("assets/yellow-cloud.png") no-repeat center/contain;
}

.cloud-green {
    background: url("assets/green-cloud.png") no-repeat center/contain;
}

.title-cloud {
    text-align: center;
}

.title-cloud h3 {
    font-size: 28px;
    font-family: "Emilys Candy", cursive;
}


.social-text {
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
}

.sign-out-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(233, 65, 65, 0.596);
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: background 0.2s ease;
}

.sign-out-btn:hover {
    background-color: rgb(220, 50, 50);
}