
   
   header {
    background-color: rgb(255, 181, 206);
    padding: 1vw 2vw;
    font-family: "Emilys Candy", serif;
    color: rgb(0, 0, 0);
    
}

.header-top {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;         
}


    footer{
  padding: 15px 0;
  font-size: 1.2vw;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 181, 206);
  text-align: center;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  width: 100%;
  margin-top: 50px;
}

 body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-image: url("images/background.png");
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: center;
      font-size: 2vw;
      font-family: "Delius Swash Caps", cursive;
    }


.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw; 
  margin-top: 1vw;
  flex-wrap: wrap; 
}

.nav-bar a {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-family: "Delius Swash Caps", cursive;
  background:  rgb(255, 171, 183);
  top: 5px;      
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid white; 
  padding: 1vw 2vw;
  border-radius: 2vw;
  box-shadow: 0 5px 15px rgba(233, 89, 111, 0.4);
 
}

h1 {
    font-family: cursive;           
    color: rgb(254, 255, 176);                   
    text-align: center;             
    text-shadow: 0 0 0.5vw rgb(255, 252, 89); 
}

.site-logo {
    width: 5vw;  
    max-width: 80px;        
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}


.about-container {
    width: 90%;
    margin: auto;
    padding-top: 3vw;
    font-family: "Delius Swash Caps", cursive;
    position: relative;
}


.about-title {
    text-align: center;
    font-size: 6vw;
    color: rgb(255, 200, 230);
    text-shadow: 0px 0px 1vw pink;
    font-family: "Emilys Candy", cursive;
    margin-bottom: 2vw;
}


.cloud {
    width: 60%;        
    max-width: 800px;      
    padding: 2vw;
    border-radius: 2vw;
    margin-bottom: 40px;

    display: flex;        
    align-items: center;  
    justify-content: flex-start; 
    background-size: cover;
    font-size: 18px;
    line-height: 1.6;
}


.cloud-blue {
    background: url("images/blue-cloud.png") no-repeat center/contain;
}

.cloud-lightblue {
    background: url("images/lightblue-cloud.png") no-repeat center/contain;
}

.cloud-pink {
    background: url("images/pink-cloud.png") no-repeat center/contain;
}

.cloud-yellow {
    background: url("images/yellow-cloud.png") no-repeat center/contain;
}

.cloud-green {
    background: url("images/green-cloud.png") no-repeat center/contain;
}

.cloud img {
   width: 90%;
   max-width: 600px;          
    height: auto;
    display: block;
    margin-right: 0;  
}

.title-cloud h3 img {
    width: 90%;
    max-width: 600px;
    height: auto;
    display: block;
}

.title-cloud {
    text-align: center;
}

.title-cloud h3 {
    font-size: 1.5vw;
    font-family: "Emilys Candy", cursive;
}


.social-text {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 2vw;
}

.cloud-wrapper{
    width: 100%;
    display: flex;
    margin-bottom: 2vw;
}

.cloud-wrapper.left {
    justify-content: flex-start; 
}

.cloud-wrapper.right {
    justify-content: flex-end;   
}

@media (max-width: 768px) {
    .cloud-wrapper {
        justify-content: center; /* center on small screens */
    }
    .cloud {
        width: 90%;
        padding: 4vw;
    }
    .cloud img {
        width: 95%;
    }
}