header {
    background-color: rgb(255, 181, 206);
    padding: 10px 20px;
    font-family: "Emilys Candy", serif;
    color: rgb(0, 0, 0);
}

.header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

footer {
    padding: 15px 0;
    font-size: 17pt;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 181, 206);
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #f5f1f3;
    font-family: "Cormorant Garamond", serif;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-family: "Emilys Candy", serif;
    color: #ff98c9;
    margin-top: 20px;
}

.button-box {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 181, 206);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(255, 160, 190);
}

.diary-container {
    margin: 30px auto;
    width: 900px;
    height: 600px;
    background-image: url("images/diaryentry.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 90px 110px;
    box-sizing: border-box;
}

.page {
    width: 45%;
    height: 100%;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    overflow-y: auto;
    background: transparent;
    outline: none;
}

/* Popup */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 400px;
    max-height: 70%;
    overflow-y: auto;
    border-radius: 15px;
}

.popup-content ul {
    list-style: none;
    padding: 0;
}

.popup-content li {
    padding: 10px;
    background: #ffe3ef;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}
