html, body {
    overflow-x: hidden;
}

header {
    background-color: rgb(255, 181, 206);
    padding: 10px 20px;
    font-family: "Emilys Candy", serif;
    position: relative;
    
}

.header-top {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;         
}


    footer{
  padding: 15px 0;
  font-size: 17pt;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 181, 206);
  text-align: center;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  width: 100%;
  margin-top: 50px;
}

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-image: url("images/background.png");
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: center;
      font-size: 20pt;
      font-family: "Delius Swash Caps", cursive;
    }


.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  margin-top: 15px;
  flex-wrap: wrap; 
}

.nav-bar a {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Delius Swash Caps", cursive;
  background:  rgb(255, 171, 183);
    border: 2px solid white; 
  padding: 15px 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(233, 89, 111, 0.4);
 
}

.nav-bar a:hover {
  background-color: rgb(196, 239, 179);
}

h1 {
    font-family: cursive;           
    color: rgb(254, 255, 176);                   
    text-align: center;             
    text-shadow: 0 0 10px rgb(255, 252, 89); 
}

.site-logo {
    width: 80px;          
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}




h2 {
  text-align: center;    
  color: rgb(255, 200, 230);
  text-shadow: 0px 0px 15px pink;
  font-family: "Emilys Candy", cursive;
  margin-bottom: 5px;
  font-size: 120px;
}

h3 {
  text-align: center;
  color: rgb(255, 200, 230);
  text-shadow: 0px 0px 15px pink;
  font-family: "Emilys Candy", cursive;
  margin-top: 0;
  font-size: 110px;
}

.sign-out-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(233, 65, 65, 0.596);
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: background 0.2s ease;
}

.sign-out-btn:hover {
    background-color: rgb(220, 50, 50);
}