body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    background-image: url("images/yellowbackground.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.top-section {
    width: 100%;
    height: 260px;
    background: #e9b7d4;
    position: relative;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 40%;
}

.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    object-fit: cover;
}


.content {
    padding: 40px 20px;
    text-align: center;
    min-height: 700px;
}

.title {
    font-family: "Great Vibes", cursive;
    font-size: 55px;
    color: #f18cbe;
    margin-top: -10px;
    text-shadow: 0 0 10px #ff9df8;
}

.subtitle {
    font-size: 28px;
    color: #f9bce8;
    margin-top: 10px;
    text-shadow: 0 0 8px white;
}


.input-box {
    margin: 40px auto;
    width: 60%;
    padding: 20px 30px;
    background: #fffccc;
    border-radius: 40px;
    border: 3px solid #b4e387;
    font-size: 22px;
}

.input-label {
    font-size: 24px;
    margin-top: 20px;
    color: #943d66;
    font-weight: 600;
}


input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 12px;
    border: 2px solid #d49bc2;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    text-align: center;
    background: #fff9e8;
    transition: 0.3s ease;
}

input:focus {
    border-color: #ffb7ef;
    outline: none;
    background: #ffffff;
}

.signup-btn {
    padding: 12px 30px;
    margin: 10px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    background: #ffb7ef;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Playfair Display", serif;
}

.signup-btn:hover {
    background: #ff94e8;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}

#formToggle {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

#formToggle button {
    font-size: 19px;
    padding: 10px 25px;
    border-radius: 25px;
    background: #ffd3f8;
    border: 2px solid #ff9df8;
}

#formToggle button:hover {
    background: #ffb4ee;
}